body{
    margin:auto;
    padding:0;
    background-color: darkgray;
    
}
li{
    list-style-type: none;
    color:white;
}
.nav_container{
    background-color:darkcyan;
}
.navigation{
    display: flex;
    
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    
}
nav {
    display: flex;
    justify-content: space-around;
}